<a href="https://colab.research.google.com/github/luiz826/Sistema_de_recomendacao/blob/main/Recomendation_Sys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sistema de Recomendação para filmes da netflix

<img src="https://i2.wp.com/tvrev.com/wp-content/uploads/2020/02/thibault-penin-AWOl7qqsffM-unsplash-scaled.jpg?fit=2560%2C1709&ssl=1">

### Importação das bibliotecas

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/luiz826/Site_Sistema_de_recomendacao/main/netflix_titles.csv")

In [3]:
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

### Pré-processamento dos dados

##### Selecionando apenas os filmes e as colunas mais importantes

In [4]:
mov = df.query("type == 'Movie'")

In [5]:
movies = mov[["title", "director", "cast", "country", "rating", "listed_in"]].reset_index()
movies["title"] = movies["title"].apply(lambda x: x.lower())

##### Essa função serve para binarizar as palavras

In [6]:
def binariza(col, classe):
    classe[col] = classe[col].fillna("Not Informed")
    
    lista = []
    for i in classe[col]:
        lista_aux = i.split(",")
        for j in lista_aux:
            lista.append(j)

    lista_sort = sorted(set(lista))

    binary_lista = [[0] * 0 for i in range(len(set(lista)))]

    for i in classe[col]:
        c = 0
        for j in lista_sort:
            if j in i:
                binary_lista[c].append(1.0)
            else:
                binary_lista[c].append(0.0)
            c+=1

    return pd.DataFrame(binary_lista).T

In [7]:
bin_actors = binariza("cast", movies)

In [8]:
bin_director = binariza("director", movies)

In [9]:
bin_country = binariza("country", movies)

In [10]:
bin_rating = binariza("rating", movies)

In [11]:
bin_listed_in = binariza("listed_in", movies)

##### Neste momento eu faço a concatenação das colunas e utilizo a similaridade de cossenos para encontrar a similaridade entre os binários

In [12]:
bin_df = pd.concat([bin_actors, bin_director, bin_country, bin_rating, bin_listed_in], axis=1, ignore_index=True)

In [13]:
cs_df = pd.DataFrame(cosine_similarity(bin_df))

### Definindo a função para gerar recomendações

In [26]:
def recomendation(movie, n=5):
    movie = movie.lower()

    if movie in movies["title"].values:
        idm = movies.loc[movies["title"] == movie].index.item()
        rm = cs_df[idm].sort_values(ascending=False).head(n+1)[1:]
        movies_c = movies.copy()
        movies_c["CS"] = cs_df[idm].sort_values(ascending=False)
        return movies_c.iloc[list(rm.index)]
    
    print("Esse filme não está na base de dados...\n")
    print("Ou você quis dizer: ", end="")
    for i in movies["title"].values:
        if movie in i:
            print(i)

##### Alguns exemplos

In [20]:
recomendation("Tom and Jerry: The Magic Ring", 7)

      index  ...        CS
2573   3672  ...  0.632456
2571   3670  ...  0.632456
2574   3673  ...  0.632456
2569   3668  ...  0.603023
1508   2157  ...  0.553399
2575   3674  ...  0.500000
2949   4241  ...  0.485363

[7 rows x 8 columns]

In [21]:
recomendation("Pulp Fiction")

      index  ...        CS
3326   4776  ...  0.422116
131     165  ...  0.402492
940    1288  ...  0.377124
2795   4008  ...  0.367065
5258   7609  ...  0.367065

[5 rows x 8 columns]

In [22]:
recomendation("The Two Popes", 2)

      index                     title  ... listed_in        CS
1069   1501          cops and robbers  ...    Dramas  0.481125
1937   2794  honey: rise up and dance  ...    Dramas  0.456435

[2 rows x 8 columns]

# APP

In [33]:
#@title Aplicação
#@markdown Digite o nome do filme abaixo (em inglês)

Filme = 'pulp fiction' #@param {type:"string"}
Numero_de_Recomendacoes = 10 #@param {type:"number"}

In [34]:
recomendation(Filme, Numero_de_Recomendacoes)

      index  ...        CS
3326   4776  ...  0.422116
131     165  ...  0.402492
940    1288  ...  0.377124
2795   4008  ...  0.367065
5258   7609  ...  0.367065
4166   5994  ...  0.341121
3521   5070  ...  0.339550
4018   5770  ...  0.333623
878    1203  ...  0.333333
4654   6722  ...  0.332820

[10 rows x 8 columns]