<a href="https://colab.research.google.com/github/luiz826/Sistema_de_recomendacao/blob/main/Recomendation_Sys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sistema de Recomendação para filmes da netflix

### Importação das bibliotecas

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/luiz826/Site_Sistema_de_recomendacao/main/netflix_titles.csv")

In [3]:
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

### Pré-processamento dos dados

##### Selecionando apenas os filmes e as colunas mais importantes

In [4]:
mov = df.query("type == 'Movie'")

In [5]:
movies = mov[["title", "director", "cast", "country", "rating", "listed_in"]].reset_index()

##### Essa função serve para binarizar as palavras

In [7]:
def binariza(col, classe):
    classe[col] = classe[col].fillna("Not Informed")
    
    lista = []
    for i in classe[col]:
        lista_aux = i.split(",")
        for j in lista_aux:
            lista.append(j)

    lista_sort = sorted(set(lista))

    binary_lista = [[0] * 0 for i in range(len(set(lista)))]

    for i in classe[col]:
        c = 0
        for j in lista_sort:
            if j in i:
                binary_lista[c].append(1.0)
            else:
                binary_lista[c].append(0.0)
            c+=1

    return pd.DataFrame(binary_lista).T

In [8]:
bin_actors = binariza("cast", movies)

In [9]:
bin_director = binariza("director", movies)

In [10]:
bin_country = binariza("country", movies)

In [11]:
bin_rating = binariza("rating", movies)

In [12]:
bin_listed_in = binariza("listed_in", movies)

##### Neste momento eu faço a concatenação das colunas e utilizo a similaridade de cossenos para encontrar a similaridade entre os binários

In [13]:
bin_df = pd.concat([bin_actors, bin_director, bin_country, bin_rating, bin_listed_in], axis=1, ignore_index=True)

In [14]:
cs_df = pd.DataFrame(cosine_similarity(bin_df))

##### Definindo a função para gerar recomendações

In [27]:
def recomendation(movie, n=5):
    if movie in movies["title"].values:
        idm = movies.loc[movies["title"] == movie].index.item()
        rm = cs_df[idm].sort_values(ascending=False).head(n+1)[1:]
        movies_c = movies.copy()
        movies_c["CS"] = cs_df[idm].sort_values(ascending=False)
        return movies_c.iloc[list(rm.index)]
    
    print("This movie is not in our database...\n")
    print("or did you mean: ", end="")
    for i in movies["title"].values:
        if movie in i:
            print(i)

In [28]:
recomendation("Tom and Jerry: The Magic Ring")

      index  ...        CS
2573   3672  ...  0.632456
2571   3670  ...  0.632456
2574   3673  ...  0.632456
2569   3668  ...  0.603023
1508   2157  ...  0.553399

[5 rows x 8 columns]

In [29]:
recomendation("Pulp Fiction")

      index  ...        CS
3326   4776  ...  0.422116
131     165  ...  0.402492
940    1288  ...  0.377124
2795   4008  ...  0.367065
5258   7609  ...  0.367065

[5 rows x 8 columns]

In [30]:
recomendation("To All the Boys I’ve Loved Before")

      index  ...        CS
4929   7112  ...  0.744387
3752   5386  ...  0.514259
3197   4597  ...  0.514259
1190   1692  ...  0.473050
5241   7586  ...  0.465379

[5 rows x 8 columns]

In [31]:
recomendation("The Two Popes")

      index  ...        CS
1069   1501  ...  0.481125
1937   2794  ...  0.456435
1260   1793  ...  0.452911
3628   5227  ...  0.435194
4563   6594  ...  0.420084

[5 rows x 8 columns]